* {
    box-sizing: border-box;
}

nav  ,h2 , h3{
    color: white;
    text-align: center;

}
img {
    width: 100%;
}
div.box {
    width: 500px;
    height: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}
body {
     background-image: url("img/mountaindark.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: auto;
 }
@media all and (min-width: 500px) {

}
div .box {
    width: 500px;
    height: 900px;
}
@media all and (min-width: 970px) {
    div#wrapper {
        margin: 0 auto;
        width: 100%;
    }
}
